<div class="container">
  <div class="row justify-content-center">
    <div class="bg-info d-flex justify-content-center p-4">
      <h1 class="title">{{ tituloForm }}</h1>
    </div>
  </div>

  <form class="form-group row g-3" (ngSubmit)="f.form.valid && addItem()" #f="ngForm">
    <div class="row justify-content-lg-center m-5 border-dark">

      <div class="col col-lg-4 d-flex justify-content-start align-items-center">
        <label 
          for="importe" 
          id="label_importe"
          class="">
          Importe: 
          </label>
        <input
          name="importe"
          type="number"
          class="form-control"
          placeholder="Importe"
          [(ngModel)]="importe"
          autofocus
          required/>
      </div>

      <div class="col col-lg-4 d-flex justify-content-start align-items-center">
        <label
          for="descripcion"
          id="label_descripcion"
          class="label_descripcion">
          Descripción: 
        </label>
        <input
          name="descripcion"
          type="text"
          class="form-control"
          placeholder="Descripcion"
          [(ngModel)]="descripcion"
          autofocus
          required/>
      </div>

      <div class="col col-3 d-flex justify-content-start align-items-center">
        <button
          type="submit"
          class="btn btn-info text-white col col-lg-4">
          Agregar
        </button>
      </div>

    </div>
  </form>
</div>
