<title>{{ titulo }}</title>

<app-formulario [subjet]="subjet"></app-formulario>
<app-tarjetas [gastoActual]="sumaImportes" [subjet]="subjet"></app-tarjetas>

<div class="container w-80">

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Descripcion</th>
        <th scope="col">Importe</th>
        <th scope="col">Fecha</th>
        <th scope="col">Operación</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listado">
        <th scope="row"></th>
        <td>{{ item.descripcion | uppercase }}</td>
        <td class="text-success">{{ item.importe | currency }}</td>
        <td> {{ item.date | date: 'd/MM/y' }} </td>
        <td>
          <button class="btn btn-danger btn-sm"  (click)="eliminarItem(item)">
            eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>

</div>
