.body {
    width: auto;
    height: 100px;
}
/* .tarjeta {
    background: red;
    margin: 0 7vw;
    display: flex;
    justify-content: center;
    align-items: center;
} */
.card-header{
    font-weight: bold;
}
