<div class="mb-5">

    <div class="row justify-content-center">
        <div class="col-sm-4 mb-1">
            <div class="card">
                <div class="card-header">Saldo Ingresado</div>
                <div class="card-body text-success">
                    <h5 class="card-title text-success" id="saldoIng">{{ saldoIngresado | currency }}</h5>
                </div>
            </div>
        </div>

        <div class="col-sm-4 mb-1">
            <div class="card">
                <div class="card-header">Saldo Actual</div>
                <div id="text_currentAmount" class="card-body d-flex justify-content-between"
                                        [ngClass]="claseSaldo ? 'text-success': 'text-danger'" >
                    <h5 class="card-title" id="saldo">{{ saldoActual | currency }}</h5>
                    <span>{{ porcentaje | percent: '2.1-2'}} </span>
                </div>
            </div>
        </div>

        <div class="col-sm-4 mb-1">
            <div class="card">
                <div class="card-header">Gasto Actual</div>
                <div class="card-body text-dark">
                    <h5 class="card-title text-success" id="gasto">{{ gastoActual | currency }}</h5>
                </div>
            </div>
        </div>
    </div>

</div>