
<div class="tarjeta">
    <div class="card border-success mb-3" style="width: 30%;">
        <div class="card-header">Saldo Ingresado</div>
        <div class="card-body text-success">
            <h5 class="card-title" id="saldoIng">{{saldoIngresado}}</h5>
        </div>
    </div>
    <div id="card_currentAmount" class="card border-success mb-3" style="width: 30%;">
        <div class="card-header">Saldo Actual</div>
        <div id="text_currentAmount" class="card-body text-success">
            <h5 class="card-title" id="saldo">{{saldoActual}}</h5>
        </div>
    </div>
    <div class="card border-dark mb-3" style="width: 30%;">
        <div class="card-header">Gasto Actual</div>
        <div class="card-body text-dark">
            <h5 class="card-title" id="gasto">{{gastoActual}}</h5>
        </div>
    </div>
</div>